.topbar-container {
    width: 100%;
    margin: 0 auto;
    background: #244384;
    position: sticky;
    top: 0px;
    z-index: 199;
    border-bottom: 1px solid rgb(111, 100, 211);
    height: 70px;
}
.inner-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: .5rem 0;
}
.logo-container {
    display: flex;
    align-items: center;
}
img {
    width: 30px;
    margin-right: 10px;
}
.logo-text {
    font-size: 1.5rem;
    color: #fff;
}

ul {
    display: flex;
    align-items: flex-end;
}
li {
    margin-left: 2rem;
    list-style-type: none;
}
.link {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
}

a:hover {
    color: #a6a1fd;
}
a.no-hover {
    color: white;
    cursor: default;
}
